*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  background-color: white;
  height: 100vh;
  width: 100%;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: grid;
  grid-template-rows: 10rem minmax(30rem, auto) min-content;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
}
